@font-face {
    font-family: 'unicornflakesmedium';
    src: url('fuentes/unicorn_flakes-webfont.eot');
    src: url('fuentes/unicorn_flakes-webfont.eot?#iefix') format('embedded-opentype'), url('fuentes/unicorn_flakes-webfont.woff2') format('woff2'), url('fuentes/unicorn_flakes-webfont.woff') format('woff'), url('fuentes/unicorn_flakes-webfont.ttf') format('truetype'), url('fuentes/unicorn_flakes-webfont.svg#unicornflakesmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fuentes/Roboto-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('fuentes/Roboto-Medium.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('fuentes/Roboto-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('fuentes/Roboto-Bold.ttf')  format('truetype');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.r-bold{
    font-family: Roboto-Bold;
}

.w50{
    width:50%;
}

.w60{
    width:60%;
}

.mgt-7{
    margin-top:7px;
}

.mgt-25{
    margin-top: 25px;
}

.mgt-50{
    margin-top: 50px!important;    
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

main{
    min-height: calc(100vh - 312px);
}


main h1, main h2{
    font-family: 'Open Sans', sans-serif;
    margin: 32px 0;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
}

.container{
    width: 1024px;
    margin:auto;
}

#elegi {
    margin-top: 40px;
}

#home>div>p {
    font-size: 25px;
    text-align: center;
    margin: 40px auto;
}

#titulo {
    width: 252px;
    height: 138px;
    margin-top:-16px;
    text-indent: -4000px;
    background: url(img/logo.png) no-repeat;
    display: inline-block;
}
.titulo {
    font: bold 25px unicornflakesmedium;
	text-align: left;
	margin-bottom: 50px;
}

.extrabtn {
   width:200px;
   margin: 20px 0;
}

header {
    position: relative;
    border-bottom: 2px solid grey;
    padding-bottom: 16px;
    background: black;
}

header>div {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
}

header>ul {
    width: 700px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 65px;
    right: 0px;
}

header>ul>li {
    list-style: none;
    display: inline-block;
}

header>ul>li {
    text-decoration: none;
    font: 18px unicornflakesmedium;
    color: grey;
}

header>ul>li>a {
    text-decoration: none;
    font: 20px unicornflakesmedium;
    color: white;
}

header>ul>li>a:hover {
    color: grey;
    font-size: 22px;
}



#home .main-img, #home img{
    display:block;
    margin:auto;
    position: relative;
    border: none;
    width:1280px;
}

.main-img>p {
    position: absolute;
    top: 600px;
    right: 20px;
    font: 40px unicornflakesmedium;
    color: white;
}

#home>div {
    border-top: 2px solid grey;
}


footer>p {
    padding: 40px;
    margin: 40px auto;
    margin-bottom: 0;
    font: 16px Roboto-Light;
    text-align: center;
    color: white;
    background: black;
}

#contenido>div>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#contenido>div>ul>li {
    width: 30%;
    vertical-align: top;
    margin-bottom: 30px;
    list-style: none;
}

#contenido>div>ul>li>h3 {
    font: bold 30px unicornflakesmedium;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-dad {
    overflow: hidden;
}

#contenido>div>ul>li .item-img {
    display: block;
    margin: auto;
    width: 250px;
}

#contenido>div>ul>li>.item-descripcion {
    display: block;
    height: 100px;
    margin: 15px 0;
    font: 1em roboto-light;
}

#contenido>div>ul>li>.item-precio {
    font: bold 20px unicornflakesmedium;
    text-align: center;
    display: block;
    background: grey;
    color: black;
    padding: 4px 0;
    margin-bottom: 5px;
}

#contenido>div>ul>li>.item-btnagregar {
    font: 20px unicornflakesmedium;
    text-align: center;
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    padding: 4px 0;
}

#contenido>div>ul>li>.item-btnagregar:hover {
    background: #F0F8FF;
    color: black;
    font-weight: bold;
}

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.product-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;

}

#productos{
    width: 1024px;
    margin:auto;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.product-body {
    display: table;
    padding: 2px 16px;
    overflow: auto;
}

.image-content {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.desc-content {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.desc-content h1 {
    font: bold 30px Roboto-Regular;
    text-align: right;
    margin: 50px 0;
    padding:0;
}

.desc-content ul li {
    list-style: none;
    font: 1em roboto-light;
    margin-bottom: 40px;
    display: block;
    text-align: right;
}

.desc-content ul li span {
    font-weight: bold;
}

.desc-content p {
    font: 1em roboto-light;
    margin-bottom: 50px;
    display: block;
    text-align: right;
}

.mgb-75{
    margin-bottom: 75px;
}

.comentarios h1 {
    font: bold 30px unicornflakesmedium;
    margin: 50px 0;
}

.textareacomm {
    resize: none;
    vertical-align: middle;
}

.comment-edit{
    height: 200px;
}


.comentarios .comment {
    margin-bottom: 10px;
    width: 50%;
}

.comentarios .user {
    font: 14px Roboto-Light;
    display: block;
    color: grey;
    padding: 10px 2px;
}

.comentarios .comentario {
    font: 16px Roboto-Bold;
    display: block;
    color: #2980b9;
    padding: 20px;
    border-left: 2px solid grey;
    background: #2980b93d;
}

.btn-guardar {
    font: 20px unicornflakesmedium;
    padding: 0 20px;
    text-align: center;
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    padding: 4px 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn-guardar:hover {
    font: 22px unicornflakesmedium;
    background: red;
}

.btn-agregar {
    font: 20px unicornflakesmedium;
    text-align: center;
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    padding: 4px 0;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn-agregar:hover {
    background: grey;
}

#error_cantidad {
    font: 0.7em Tahoma;
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

#banner,
#categorias {
    border-bottom: 2px solid grey;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

#banner>img:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

#banner>img {
    transition: transform .3s ease;
    cursor: pointer;
}

#contenido>div>ul>li{
    border-bottom: 2px solid #2980b9;
}

#contenido>div>ul>li img:hover {
    transform: scale3d(1.05, 1.05, 1.05);
}

#contenido>div>ul>li>img {
    transition: transform .3s ease;
    cursor: pointer;
}

#filtrar {
    display: table;
    width: 60%;
}

#filtrar>div {
    display: table-cell;
    width: 20%;
    font: 20px unicornflakesmedium;
}

#filtrar>input {
    display: table-cell;
    font: 20px unicornflakesmedium;
    text-align: center;
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    padding: 4px 20px;
}

#carro:hover {
    border-bottom: 1px solid black;
    cursor: pointer;
}

table {
    margin-top:125px;
    width: 100%;
}

table td,
table th {
	padding:10px;
}

table th {
    font: 15px Roboto-bold;
    text-align: left
}

table td{
    font: 15px Roboto-light;
}
table {
    border-collapse: collapse;
  }
  tr{
    border-bottom: 1px solid #2980b9;
  }


/* tr:nth-child(even) {background: #2980b973;}
tr:nth-child(odd) {background: #FFF} */
th:nth-child(1), td:nth-child(1){ padding-left: 0;     font-family: roboto-bold;
    width: 15%;}
td:nth-child(8) {background: white}
td:last-child {background: white; text-align:right; padding-right:0}


table img {
    width: 100%;
}

.eliminarItem {
    text-align: center;
    font-size: 40px;
    color: red;
    transition: transform .3s ease;
    cursor: pointer;
}

.eliminarItem:hover {
    transform: scale3d(2, 2, 2);
}

#checkout {
    width: 40%;
    font-size: 50px;
    margin-left: 10%;
    background: darkred;
    display: inline-block;
}

#borrartodos {
    width: 40%;
    font-size: 50px;
    margin-left: 10%;
    background: black;
    display: inline-block;
}

#check form {
    width: 60%;
    margin: auto;
}

#check form label,
#check form input {
    display: block;
    width: 48%;
}

#check form label {
    text-align: right;
    font: 20px unicornflakesmedium;
}



.form-body p {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.form-body .subtitle{
    font: 16px Roboto-Light;
    margin-bottom: 40px;
}

.form-body h1 {
    font-size: 1.5em;
	color: #525252;
	text-align: left;
}



@media (max-width: 600px) {
    .form-body .box {
      width: 100%
    }
  }


.form-body .label-input{
    width: 100%;
    margin-top: 10px;
    text-align: right;
}
.form-body .label-input label{
    display: inline-block;
    width: 25%;
    text-align: left;
    font-family: Roboto-bold;
    color: darkgray;
    vertical-align: middle;
} 

.form-body .input-type {
    display: inline-block;
    width: 74%;
    background: #ecf0f18a;
    border: none;
    border-bottom: #ccc 1px solid;
    padding: 8px;
    color: rgb(80, 48, 48);
    margin-top: 10px;
    font-size: 1em;
    border-radius: 0;
    font-family: Roboto-Light;
}

.form-body .password {
    border-radius: 4px;
    background: #ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width: 300px;
    font-size: 1em;
}

.white-btn{
    max-width: 165px;
    padding: 16px 32px;
    background: white;
    color:#2980b9;
    border: none;
    font: 14px Roboto-bold;
    display:inline-block;
    text-decoration: none;
}

.blue-btn {
    padding: 16px 32px;
    font-size: 14px;
    background: #2980b9;
    color: white;
    border: none;
    font-family: Roboto-bold;
    display:inline-block;
    text-decoration: none;
}

.blue-btn:hover {
    background: #1464a5 radial-gradient(circle,transparent 1%,#1464a5 1%) center/15000%;
    cursor: pointer;
}

.white-btn:hover{
    cursor: pointer;
}

.form-body #btn2 {
    float: left;
    background: #3498db;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #2980b9 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-weight: 800;
    font-size: 0.8em;
}



.input-has-error{
    border-bottom: 1px solid red!important;
    background-color: #e8173c2e!important;
}

.error{
	color:red;
	font-size: 0.8em;
    font-family: Roboto-Light;
    width: 300px;
    margin-left: 41%;
}

.info{
	padding: 20px;
	/* //border: 1px solid rgb(244, 102, 8); */
    background:rgba(72, 14, 15);
    color:white;
	font-size: 1em;
    font-family: Roboto-regular; 
    margin-bottom: 25px;
}

.btns {
    font: 20px unicornflakesmedium;
    text-align: center;
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    padding: 4px 0;
}

.prds-table{

}

.prds-table td:nth-child(2){
	width: 550px;
}

.editar img{
	width:300px;
	display: block;
	margin:auto;
}
.editar label{
	display:block;
	text-align: center;
	padding-top: 20px;
}

.silla-detail-item{
   display:flex;
   justify-content: space-between;
   margin:20px 0;
   border: 2px solid #2980b9;
}

.silla-detail-item .price-detail{
    display:table-cell;
    padding: 16px 0;
    background: white;
    color:#2980b9;
    border: none;
    font: 14px Roboto-bold;
    display:inline-block;
    text-decoration: none;
    margin:auto;
}

.silla-detail-item a{
   
}